<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylefooter.css">
  <link rel="stylesheet" href="scss/inicio.css">
  <script src="js/dados.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="container">

    <!--Imagen  arriba del nav-->	   
    <div class="row">
        <div class="col-lg-12">
          <img src="imagenes/ca.png" class="card-img-top" alt="...">
        </div>
    </div>
    <!--Barra de Navegacion-->
    <nav class="navbar navbar-expand-lg  bg-body-tertiary" >  
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="index.html">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="mision y vision.html">Misiòn y visiòn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="informacion.html">Informacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="tipologia.html">Tipologìa</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="contactenos.html">Contactenos</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav><br><br>

    <!-- CARRUSEL DE IMAGENES-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="imagenes/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imagenes/2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imagenes/3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> <br><br>

    <div class="row conteiner2">
      <!--  Card  -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="imagenes/c1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programa Vivienda Nueva</h5>
            <p class="card-text">Construcción de hogares para aquellas familias que no cuentan con vivienda propia...</p>
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn-outline-primary">Leer mas...</a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="imagenes/c2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programa de Atención Extraordinaria</h5>
            <p class="card-text">Orientado a familias altamente vulnerables...</p>
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn-outline-primary">Leer mas...</a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card " style="width: 18rem;">
          <img src="imagenes/c3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programa Cualitativo de Vivienda Social</h5>
            <p class="card-text">Orientado al mejoramiento, ampliación y/o renovación de hogares...</p>
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn-outline-primary">Leer mas...</a>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</body>
<!-- Footer-->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->

  <div class="log" >
    <div class="icon">
      <svg heigth="40" width="40">
          <circle cx="20" cy="20" r=18 stroke="white" stroke-width="3" fill="none" ></circle>
      </svg>
      <i class='bx bxl-instagram'></i>
    </div>

    <div class="icon">
        <svg heigth="40" width="40">
            <circle cx="20" cy="20" r=18 stroke="white" stroke-width="4" fill="none" ></circle>
        </svg>
        <i class='bx bxl-facebook-circle'></i>
    </div>

    <div class="icon">
        <svg heigth="40" width="40">
            <circle cx="20" cy="20" r=18 stroke="white" stroke-width="4" fill="none" ></circle>
        </svg>
        <i class='bx bxl-whatsapp' ></i>
    </div>

    <div class="icon">
        <svg heigth="40" width="40">
            <circle cx="20" cy="20" r=18 stroke="white" stroke-width="4" fill="none" ></circle>
        </svg>
        <i class='bx bxl-twitter' ></i>
    </div>
  </div>
  
  <!-- Copyright -->
  <div class="nav3 text-center p-3">
    © 2023 Copyright:
    <a class="text-white" href="#">Agencia Estatal de Vivienda</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.6.3.min.js"></script>
</html>