.navbar{
    background-color:rgb(95, 93, 93);
    border:rgba(94, 94, 94, 0.836) solid 1px;
}
.imgnav{
    border: solid 1px #dbdbdf;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 80px;
}