body {
 background-color:lightblue;
}
h5 {
    background-color:red);
    text-decoration: underline;
    font-family: fantasy;
}

p{
font-size: 1.4rem;
  color: violet;
  font-family: Helvetica, Arial, sans-serif;
}
